# access through any client
# virtual key
LITELLM_MASTER_KEY=
LITELLM_KEY=
LITELLM_SALT_KEY=

# Litelllm UI
UI_USERNAME=admin
UI_PASSWORD=admin

OPENROUTER_API_KEY=
NVIDIA_API_KEY=
NVIDIA_NIM_API_KEY=

GEMINI_API_KEY=
GROQ_API_KEY=
OLLAMA_BASE_URL=http://host.docker.internal:11434

OPENAI_API_KEY=open-ai-key

# Logfire for observability
LOGFIRE_TOKEN=write_token_place_here

# Langsmith for Tracing 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT="project_name"

# ==========================================
# REDIS CACHE SETTINGS
# ==========================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_redis_password
REDIS_TTL=6000
REDIS_AUTH_CACHE=true

# Set CACHE_TYPE to redis-semantic for Vector Caching 
# or redis for Keyword-exact Caching.
CACHE_TYPE=redis-semantic

# ==========================================
# POSTGRES DATABASE
# ==========================================
POSTGRES_USER=litellm
POSTGRES_PASSWORD=litellm
POSTGRES_DB=litellm
DATABASE_URL=postgresql://litellm:litellm@postgres:5432/litellm